<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Contact</title>
    
</head>
<body>
    <div>
        <form action="~/PhoneContact/Add" method="post">
            <label>Name</label><br />
            <input type="text" name="Name"/><br />

            <label>PhoneNumber</label><br />
            <input type="text" name="PhoneNumber"/><br />

            <label>Address</label><br />
            <input type="text" name="Address" /><br />

            <label>Descriptions</label><br />
            <input type="text" name="Descriptions" /><br />

            <p><input type="submit" value="Добавить" /></p>
        </form>
    </div>
    <hr />
</body>
</html>