@model List<PhoneContact>
@{
    ViewBag.Title = "PhoneContacts";
}

@* <a asp-action="Add" class="btn btn-primary">Добавить новую запись</a> *@

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Id</a>
                </td>

                <td>
                    @item.Name
                </td>

                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>