<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testDB"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;User ID=NewLOGIN;Password=SomePassword;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
         providerName="System.Data.SqlClient" />
    <add name="testOleDB"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\DataBase1.accdb;"
         providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>
